p, h1, h2, h3,
h4, h5, h6 {
    margin: 0;
}
ol, ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
button {
    cursor: pointer;
}
address {
    font-style: normal;
}
a {
    color: currentColor;
    text-decoration: none;
  }
 
  
img {
    display: block;
  }

   
body{
    font-family:"Roboto", sans-serif;
    color: var(--top-color);
}
a {
    text-decoration: none;
}
li {
    list-style-type: none;
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;}