
.client-section{
    display: block;
}
.container-client {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        padding-top: 94px;
        }
        box-sizing: border-box;
 }
 .client-tetle {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.6;
     text-align: center;
     letter-spacing: 0.03em;
     color: var(--top-color);
     margin-bottom: 50px;
 }
 .client-list {
    width: 100%;
    height: 100%;
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     align-items: center;
 }
 .client-iten {   
    @media screen and (min-width: 320px) {
        width: calc((100% - 30px) / 2);
        height: 92px;
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 3);
        height: 92px;
    }
        
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 6);
        height: 92px;
    }
     background-color: #FFFFFF;

 }
 .client-soc-link {
         width: 100%;
         height: 100%;
         border: 1px solid #AFB1B8;
         border-radius: 4px;
         background-color:#fff;
         display: flex;
         align-items: center;
         justify-content: center;
         transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
         &:hover,
         &:focus {
         background-color: #fff;
         border-color: #2196F3;
}
 }
 .client-soc-icon {
     fill: #AFB1B8;
     transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
     .client-soc-link:hover &,
     .client-soc-link:focus & {
       fill: #2196F3;
    } 
 }
 