.hero {
    background: #C4C4C4;
    padding: 200px 0;
    margin: 0 auto;
    text-align: center;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ) ,
    url(../images/Img\ \(fon\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--hit-color);
    margin-bottom: 30px;
    margin: 0 auto;
    max-width: 696px;
    margin-bottom: 30px;
}
.hero-botton {
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.06em;
color: var(--hit-color);
cursor: pointer;
display: block;
margin: 0 auto;
background-color: dodgerblue;
width: 216px;
height: 50px;
border-color: transparent;
border-radius: 4px;
}