.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding: 48px 40px;

    background-color: #FFFFFF;

    @media screen and (min-width: 480px) and (max-width: 767px) {
        margin-left: auto;

        background-color: #FFFFFF;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04),
                0px 2px 4px rgba(0, 0, 0, 0.08),
                0px 1px 3px rgba(0, 0, 0, 0.16);
    }

}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.mobile-nav {
    display: flex;
    flex-wrap: wrap;
}
.mobile-nav__list {
    margin-bottom: 32px; ;
    
}
.mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
}
.mobile-nav__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: var(--primary-txt);
}

.mobile-nav__item--current {
    color: #2196f3;
}
.mobile-contact__list {
    margin-bottom: 64px;

}
.mobile-contact__item:not(:last-child){
    margin-bottom: 32px;
}
.mobile-menu__socials-txt{
   color: #2196F3;

}
.mobile-phone {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;

    color: #2196F3;
}
.mobile-menu__bottom {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
}
.mobile-conteiner {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}
.mobile-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1, 17;
    letter-spacing: 0.02em;

    color: #757575;
}
.mobile-oure {
    display: flex;
    flex-wrap: wrap;

}
.mobile-menu__socials-list {
    display: flex;
    gap: 20px;
}
.mobile-menu__socials-item :not(:last-child){
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);

}
.mobile-menu__socials-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;

    color: var(--accent-txt);

}
.no-scroll{
    overflow: hidden
}