.peculiarities {
    padding: 94px 0px;

@media screen and (min-width: 480px) {
    padding: 60px 0px;

    }
    
    @media screen and (min-width: 768px) {
        padding: 60px 0px;
    }
}
.benefits {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.benefits__iten {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 4);
    }

}
.benefits__title {
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--top-color);
margin-bottom: 10px;
margin-top: 30px;
@media screen and (max-width: 767px) {
    text-align: center;

    }
}
.benefits__link {
    width: 100%;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
    }