.work {
    padding-bottom: 94px;
}
.work-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
color: var(--top-color);
margin-bottom: 50px;
}
.work-list {
    display: flex;
    gap: 30px;
}